{% extends "layout.html" %}

{% block title %}
<title>{{ config['BROWSER_NAME'] }} - {{ gene.gene_name }}</title>
{% endblock %}


{% block in_head %}
<script type="text/javascript">
 window.model = window.model || {};
 window.model.coverage_stats = {{ coverage_stats|tojson(separators=(',',':'))|safe }};
 window.model.gene = {{ gene|tojson(separators=(',',':'))|safe }};
 window.model.exons = {{ exons|tojson(separators=(',',':'))|safe }};
 window.model.chrom = {{ chrom|tojson|safe }};
 window.model.start = {{ start|tojson(separators=(',',':'))|safe }};
 window.model.stop = {{ stop|tojson(separators=(',',':'))|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='gene.js') }}"></script>
<style type="text/css">
 .dataTables_info { float: left; }
 .dataTable { font-family: Arial, Sans-serif; /* Arial handles figure-space correctly */ }
 .dataTable .dt-right { text-align: right; padding-right: 0.7em; }
 .dataTable .dt-center { text-align: center; }
 .d3-tip { font-family: Arial, Sans-serif; /* Helvetica Neue ignores thinspace */ }
 #coverage_plot_container .axis path { fill: None; stroke: black; }
 #variant_table .highlight { background-color: whitesmoke !important }
</style>
{% endblock %}


{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Gene: <span class="gene-name">{{ gene.gene_name }}</span></h1>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
       <dl class="dl-horizontal" style="margin-bottom:0">
          {% if gene.full_gene_name %}
              <dt>{{ gene.gene_name }}</dt>
              <dd>{{ gene.full_gene_name }}</dd>
          {% endif %}
          <dt>Number of variants</dt>
          <dd>{{ num_variants_in_gene }}</dd>
          <dt class="hidden-xs">Region</dt>
          <dd class="hidden-xs">
              <a href="/region/{{ gene.chrom }}-{{ gene.start - 1 }}-{{ gene.stop - 1 }}" target="_blank">
                  {{ gene.chrom }}:{{ gene.start - 1 }}-{{ gene.stop - 1 }}
              </a>
          </dd>
          <dt>Other</dt>
          <dd>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="external_ref_dropdown" data-toggle="dropdown">
                      External References
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="external_ref_dropdown">
                      <li role="presentation">
                          <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{ gene.chrom }}%3A{{ gene.start - 1 }}-{{ gene.stop - 1 }}" target="_blank">
                              UCSC Browser
                              <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                      <li role="presentation">
                          <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene.gene_name }}" target="_blank">
                              GeneCards
                              <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                      {% if gene.omim_accession %}
                      <li role="presentation">
                          <a href="http://omim.org/entry/{{ gene.omim_accession }}" target="_blank">
                              OMIM
                              <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                      {% endif %}
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?g={{ gene.gene_id }}" target="_blank">
                              Ensembl <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="http://en.wikipedia.org/wiki/{{ gene.gene_name }}" target="_blank">
                              Wikipedia <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="https://www.ncbi.nlm.nih.gov/pubmed?term={{ gene.gene_name }}" target="_blank">
                              PubMed Search <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="http://www.wikigenes.org/?search={{ gene.gene_name }}" target="_blank">
                              Wikigenes <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="http://www.gtexportal.org/home/gene/{{ gene.gene_name }}" target="_blank">
                              GTEx (Expression) <i class="fa fa-external-link"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 style="margin-bottom:0">Coverage Depth</h3>
      {% include 'coverage_selectors.html' %}
      <br/>
      <div id="coverage_plot_container"></div>
      <div id="gene_plot_container"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Variants</h3>
      <div id="variant_plot_container"></div>
{#      <p>pos between <input type="number" class="dt_filter" id="pos_ge"> and <input type="number" class="dt_filter" id="pos_le"></p> #}
      <p>QC = <select class='variant_table_filter' id='filter_value'><option value='*'>any</option><option value='PASS'>PASS</option><option value='not PASS'>not PASS</option><option value='DISC'>DISC</option><option value=EXHET>EXHET</option><option value=SVM>SVM</option><option value=CEN>CEN</option><option value=CHRXHET>CHRXHET</option></select></select></p>
      <table id="variant_table" class="table table-bordered table-hover table-condensed" cellspacing=0><tbody></tbody></table>
    </div>
  </div>
</div>
{% endblock %}
