{% extends "layout.html" %}
{% block navbar_left %}{% endblock %}
{% block in_head %}
<style type="text/css">
  .navbar-default {
    border: none;
  }
</style>
{% endblock %}
{% block body %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br><br> {# Don't get stuck behind the navbar #}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert"><b>Error:</b> {{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% if not current_user.is_authenticated %}
        <div class="jumbotron" style="margin-top:3em">
          <p>To protect the privacy of our study participants, you must log in to view our data.</p>
          <br>
          <p><a class="btn-lg btn-primary" role="button" href="{{ url_for('login_with_google') }}">Click here to login with Google</a><p>
        </div>
        {% endif %}
        <div class="row" id="home-titlebox">
            <div class="col-xs-12">
                <h1>{{ config['BROWSER_NAME'] }}</h1>
                {% if config['SHOW_POWERED_BY'] %}
                <h2>Powered by {{ config['DATASET_NAME'] }}</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region" autofocus />
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Examples - Gene: <a href="/awesome?query=ANK3">ANK3</a>,
                        Transcript: <a href="/transcript/ENST00000407236">ENST00000407236</a>,
                        Variant: <a href="/variant/22-36655789-G-T">22-36655789-G-T</a>,
                        Multi-allelic variant: <a href="/awesome?query=rs116368896">rs116368896</a>,
                        Region: <a href="/region/22-46546424-46639653">22:46546424-46639653</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
