<!doctype html>
<head>
    {% block title %}<title>{{ config['BROWSER_NAME'] }}</title>{% endblock %}
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='vendor/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://igv.org/web/release/1.0.9/igv-1.0.9.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://igv.org/web/release/1.0.9/igv-1.0.9.js"></script>
   

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>-->

    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='vendor/theme.default.css') }}">
    <script type="text/javascript" src="{{ url_for('.static', filename='vendor/underscore-min.js') }}"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='style.css') }}">
    <!--<script type="text/javascript" src="{{ url_for('.static', filename='vendor/d3.v3.min.js') }}"></script>-->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='vendor/d3-tip.js') }}"></script>

    <script type="text/javascript">
        window.model = window.model || {};
        window.model.dataset_name = "{{ config['DATASET_NAME'] }}";
        window.model.url_prefix = {{ url_for('.homepage')|tojson|safe }};
    </script>
    <style type="text/css">
      .numsep { margin-left: 0.06em; margin-right: 0.06em; }
    </style>
    <link rel="stylesheet" href="{{ url_for('.static', filename='common.css') }}">
    <script type="text/javascript" src="{{ url_for('.static', filename='common.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config['GOOGLE_ANALYTICS_TRACKING_ID'] }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% block in_head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default" style="background: white;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block navbar_left %}
            <a class="navbar-brand" href="{{ url_for('.homepage') }}" style="color: #333; font-weight: bold; float: left; font-size: 15px;">{{ config['BROWSER_NAME'] }}</a>
            <div class="navbar-left" id="navbar_form_container">
                <form action="{{ url_for('.awesome') }}" class="navbar-form input-group" role="search">
                    <div class="form-group" id="navbar-awesomebar">
                        <input id="navbar-searchbox-input" name="query" class="form-control typeahead" type="text" size="40" placeholder="Gene, transcript, variant, or region"/>
                        <div class="input-group-btn">
                           <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            {% endblock %}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('.about_page') }}" style="color: #333; font-weight: bold;">About</a></li>
 		<li><a href="{{ url_for('.download_page') }}" style="color: #333; font-weight: bold;">dbSNP</a></li>
                <li><a href="{{ url_for('.help_page') }}" style="color: #333; font-weight: bold;">API</a></li>
           	<li><a href="{{ url_for('.terms_page') }}" style="color: #333; font-weight: bold;">Terms</a></li>
     		{% if current_user.is_authenticated %}
                <li class="dropdown" style="margin: 0px 0px 0px 0px;">
                    <a href="#" class="dropdown-toggle" style="padding-top: 10px; padding-bottom: 10px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if current_user.picture is none %}
                    <span class="glyphicon glyphicon-user" style="font-size: 20px"></span>
                    {% else %}
                    <img src="{{ current_user.picture }}" style="width: 30px; height: 30px; padding: 0px; border-radius: 50%;">
                    {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li style="display: inline-block; padding: 3px 20px;"><b>{{ current_user.username }}</b><br />{{ current_user.email }}</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('.user_profile_page') }}">Settings</a></li>
                        {% if current_user.admin %}
                        <li><a href="{{ url_for('.administration_page') }}">Administration</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('.logout') }}" style="color: #333; font-weight: bold;">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block body %}{% endblock %}
</body>
