{% extends "_region_gene_trans_base.html" %}

{% block title %}
<title>{{ config['BROWSER_NAME'] }} - chr{{ chrom }}:{{ start }}-{{ end }}</title>
{% endblock %}


{% block in_js %}
window.model.genes = {{ genes_in_region|tojson(separators=(',',':'))|safe }};
window.model.url_suffix = fmt('/region/{0}-{1}-{2}', window.model.chrom, window.model.start, window.model.stop);
{% endblock %}


{% block include_js %}
<script type="text/javascript" src="{{ url_for('.static', filename='region.js') }}"></script>
{% endblock %}


{% block in_topleft_col %}
<h1>Region: chr{{ chrom }} : {{ '{:,}'.format(start) }} - {{ '{:,}'.format(stop) }}</h1>
{% if genes_in_region %}
<h3>Genes in this region:</h3>
<ul>
  {% for gene in genes_in_region %}
  <li><a href="{{ url_for('.gene_page', gene_id=gene.gene_id) }}">{{ gene.gene_id }}</a></li>
  {% endfor %}
</ul>
{% endif %}
<a class="btn btn-default" href="{{ url_for('.download_region_variants', chrom=chrom, start=start, stop=stop) }}" style="margin-bottom:10px">Download all variants</a>
{% endblock %}
