{% extends "_region_gene_trans_base.html" %}

{% block title %}
<title>{{ config['BROWSER_NAME'] }} - {{ 'chr{chrom}:{start}-{stop}'.format(**intervalset.to_region_dict()) }}</title>
{% endblock %}


{% block in_js %}
window.model.url_suffix = fmt('/region/{0}', {{ intervalset.to_region_dashed()|tojson()|safe }});
{% endblock %}


{% block in_topleft_col %}
<h1>Region: {{ 'chr{chrom} : {start:,} - {stop:,}'.format(**intervalset.to_region_dict()) }}</h1>
<div class="dropdown" style="display:inline-block">
  <button class="btn btn-default dropdown-toggle" type="button" id="external_ref_dropdown" data-toggle="dropdown">
    External References
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="external_ref_dropdown">
    <li role="presentation">
      <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={{ 'chr{chrom}%3A{start}-{stop}'.format(**intervalset.to_region_dict()) }}" target="_blank">
        UCSC Browser<i class="fa fa-external-link"></i>
      </a>
    </li>
  </ul>
</div>
<a class="btn btn-default" href="{{ url_for('.download_region_variants', **intervalset.to_region_dict()) }}">Download all variants</a>
{% endblock %}
