{% extends "layout.html" %}

{% block in_head %}
<script type="text/javascript" src="{{ url_for('static', filename='region.js') }}"></script>
{% endblock %}

{% block body %}
    <script type="text/javascript">
        window.coverage_stats = {{ coverage_stats|tojson(separators=(',',':'))|safe }};
        window.genes = {{ genes_in_region|tojson(separators=(',',':'))|safe }};
        window.variants = {{ variants_in_region|tojson(separators=(',',':'))|safe }};
        window.table_variants = variants;
        window.start = {{ start|tojson(separators=(',',':'))|safe }};
        window.stop = {{ stop|tojson(separators=(',',':'))|safe }};
    </script>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
            <h1>Region: {{ chrom }} / {{ start }} / {{ stop }}</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10">
              <h3>Coverage summary</h3>
              <div id="region_plot">
                    {% include 'coverage_selectors.html' %}
                    <br/>
                    <div id="region_plot_container"></div>
              </div>
              <div id="not_covered" style="display: none;">
                    No coverage for this region.
              </div>
          </div>
      </div>
      {% if genes_in_region %}
          <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <div class="section_header">Genes in this region:</div>
                    <ul>
                        {% for gene in genes_in_region %}
                            <li><a href="/gene/{{ gene.gene_id }}">{{ gene.gene_id }}</a></li>
                        {% endfor %}
                    </ul>
                    <br/>
                </div>
          </div>
      {% endif %}
      {% if variants_in_region %}
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <div class="section_header">Variants</div>
                    {% with table_variants = variants_in_region %}
                        {% include 'variant_table.html' %}
                    {% endwith %}
                </div>
            </div>
      {% endif %}
      {% if not variants_in_region and not genes_in_region %}
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10">
                    <p> There is nothing in this region.</p>
                </div>
            </div>
      {% endif %}
    </div>
{% endblock %}
