{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row" style="font-size: 16px;">
            <h1>Terms of use</h1>
            <p>You are required to abide by the following terms of use:</p>
            <ul>
                <li>You will not attempt to download any dataset in bulk from the portal.
                <li>You will not attempt to re-identify or contact research participants.
                <li>You will protect data confidentiality.
                <li>You will not share any of the data with unauthorized users.
                <li>You will report any inadvertent data release, security breach or other data management incidents of which users becomes aware.
                <li>You will abide by all applicable laws and regulations for handling genomic data.
            </ul>
            <br>
            {% if not current_user.is_anonymous %}
              {% if current_user.agreed_to_terms: %}
              <p><b>You've already agreed to these terms.</b></p>
              {% else %}
              <p><a class="btn-lg btn-primary" role="button" href="{{ url_for('agree_to_terms') }}">I agree to the terms</a><p>
              {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
