{% extends "layout.html" %}

{% block title %}
<title>{{ config['BROWSER_NAME'] }} - {{ variant.variant_id }}</title>
{% endblock %}

{% block in_head %}
<script type="text/javascript">
    window.variant = {{ variant|tojson(separators=(',',':'))|safe }};
    window.base_coverage = {{ base_coverage|tojson(separators=(',',':'))|safe }};
    window.any_covered = {{ any_covered|tojson(separators=(',',':'))|safe }};
    window.metrics = {{ metrics|tojson(separators=(',',':'))|safe }};
</script>
<script type="text/javascript" src="{{ url_for('.static', filename='variant.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='variant_igv.js') }}"></script>
<style>
    .list_of_genes_in_csq, .list_of_transcripts_in_gene_csq {
        padding-left: 1.5em;
    }
    .annotation_csq {
        margin-bottom: 0;
    }

    .affix {
        top: 0;
        width: 100%;
        z-index: 9999 !important;
    }
</style>
{% endblock %}

{% block body %}
   <div id="variant-name" class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1><span class="hidden-xs">Variant: </span>{{ variant.chrom }}:{{ variant.pos }} {{ variant.ref }} / {{ variant.alt }}
                  {% if top_HGVSs %}
                    (<span class="gene-name">{{ gene_for_top_csq }}</span>:
                     {{ ', '.join(top_HGVSs) }})
                  {% endif %}
                </h1>
            </div>
        </div>
        {% if variant.allele_num < 0.8 * 2 * config['NUM_SAMPLES']  %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">      
                <p>
                    <span class="label label-warning">Warning!</span>
                    This variant is only covered in {{ (variant.allele_num/2)|int }} individuals (&lt;80% of all individuals in {{ config['DATASET_NAME'] }}), which may indicate a low-quality site.
                </p>
            </div>
        </div>
        {% endif %}
    </div>

    <div data-spy="affix" id="variant-nav" style="background-color:#ffffff">
    <ul>
    <li style="display:inline;padding-right:20px;"><a href="#variant-summary">Summary</a></li>
    <li style="display:inline;padding-right:20px;"><a href="#variant-annotations">Annotations</a></li>
    <li style="display:inline;padding-right:20px;"><a href="#variant-frequencies">Frequencies</a></li>
    <li style="display:inline;padding-right:20px;"><a href="#variant-depth">Sequence Depth</a></li>
    <li style="display:inline;padding-right:20px;"><a href="#variant-genotype-quality">Genotype Quality</a></li>
    <li style="display:inline;padding-right:20px;"><a href="#variant-sequences">Raw Sequences</a></li>
    <li style="display:inline;padding-right:20px;"><a href="#variant-site-metrics">Site Quality Metrics</a></li>
    </ul>
    </div>

    <div class="container-fluid">
        {% if variant.variant_id %}
        <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel panel-default" id="variant-summary">
                        <div class="panel-heading">Summary</div>
                        <div class="panel-body">
                        {% include 'variant_summary.html' %}
                        </div>
                    </div>
              </div>
              <div class="{{ 'col-lg-4' if variant.pop_afs else 'col-lg-6' }} col-md-6 col-sm-12">
                  <div class="panel panel-default" id="variant-annotations">
                      <div class="panel-heading">Annotations</div>
                      <div class="panel-body">
                      {% include 'variant_consequences.html' %}
                      </div>
                  </div>
              </div>
              {% if variant.pop_afs %}
              <div class="clearfix visible-md-block"></div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="panel panel-default" id="variant-frequencies">
                        <div class="panel-heading">Frequency Table</div>
                        <div class="panel-body">
                            <table id="pop_afs_table" class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Population</th>
                                        <th>Allele Frequency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for pop in variant.pop_afs|sort %}
                                    <tr>
                                        <td>{{ pop }}</td>
                                        {% if variant.pop_afs[pop] is not none %}
                                        <td>{{ '%0.4g' % variant.pop_afs[pop] }}</td>
                                        {% else %}
                                        <td>Not available</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
              </div>
              {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div id="variant-depth" class="panel panel-default">
                <div class="panel-heading">Sequence Depth</div>
                <div class="panel-body">
                    <div id="sequence-depth-plots" class="row">
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div id="variant-genotype-quality" class="panel panel-default">
                <div class="panel-heading">Genotype Quality</div>
                <div class="panel-body">
                    <div id="genotype-quality-plots" class="row">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% if any_covered %}
                    <span class="section_header" style="margin-left:1em">Coverage</span>
                    {% if base_coverage|length > 1 %}
                        {% include 'coverage_selectors.html' %}
                    {% endif %}
                    <div id="region_coverage"></div>
                {% else %}
                    <h3>This region is not covered in the {{ config['DATASET_NAME'] }} dataset.</h3>
                {% endif %}
            </div>
        </div>
    </div>-->
    <div id="variant-sequences" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Raw Sequences</div>
            <div class="panel-body">
                <div id="reads-spinner" class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" style="text-align:center">
                        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                    </div>
                </div>
                <div id="reads-het-samples-header" class="row hidden">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h4>Heterozygous Individuals</h4>
                    </div>
                </div>
                <div id="reads-het-samples" class="row hidden">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                    </div>
                </div>
                <div id="reads-hom-samples-header" class="row hidden">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h4>Homozygous Individuals</h4>
                    </div>
                </div>
                <div id="reads-hom-samples" class="row hidden">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                    </div>
                </div>
                <div id="reads-igv" class="row hidden" style="margin-top:1%">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="reads-igv-instance"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="variant-site-metrics" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Site Quality Metrics</div>
            <div class="panel-body">
                <!--<div class="row">
                    <div id="site-metrics-legend" class="col-lg-2 col-lg-offset-10"></div>
                </div>-->
                <table id="site-metrics-plots" class="table table-sm table-condensed">
                    <tr>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Percentile</th>
                        <th id="site-metrics-legend"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
