{% block variant_table %}
{% include 'variant_selectors.html' %}
{% include "variant_table_template.html" %}
<script type="text/javascript">
  window.csq_order = {{ csq_order|tojson(separators=(',',':'))|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='variant_table.js') }}"></script>

<div id="variants_loading">Loading variants...</div>
<div id="variants_table_container" style="display: none;"></div>
<div id="variants_table_empty" style="display: none;">No variants found.</div>
{% endblock %}
