<h4>{{ consequence|replace('_variant', '')|replace('_', ' ')|replace('utr', 'UTR')|replace('3 prime', "3'")|replace('5 prime', "5'")|replace('nc ', "non-coding ") }}</h4>
<ul>
    {% for gene in consequences[consequence] %}
        <li>
            {% if gene %}
                <a href="/gene/{{ gene }}">
                {% if consequences[consequence][gene][0].SYMBOL %}
                    {{ consequences[consequence][gene][0].SYMBOL }}
                {% else %}
                    {{ gene }}
                {% endif %}
                </a>
            {% endif %}
            {% if consequences[consequence][gene]|length == 1 %}
                {% with annotation = consequences[consequence][gene][0] %}
                    {% if gene %}-{% endif %}
                    {% if annotation.Feature[:4] == "ENST" %}
                        <a href="/transcript/{{ annotation.Feature }}">
                    {% else %}
                        <a href="http://useast.ensembl.org/Multi/Search/Results?q={{ annotation.Feature }}">
                    {% endif %}
                    {{ annotation.Feature }}
                    {% if annotation.CANONICAL == 'YES' %}
                        *
                    {% endif %}
                    </a>
                    {% include 'variant_details.html' %}
                {% endwith %}
            {% elif first_csq %}
                <ul>
                    {% for annotation in consequences[consequence][gene] %}
                        <li>
                            <a href="/transcript/{{ annotation.Feature }}">
                                {{ annotation.Feature }}
                                {% if annotation.CANONICAL == 'YES' %}
                                    *
                                {% endif %}
                            </a>
                            {% include 'variant_details.html' %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <span class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="transcript_dropdown" data-toggle="dropdown">
                        Show all
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="transcript_dropdown">
                        {% for annotation in consequences[consequence][gene] %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="/transcript/{{ annotation.Feature }}">
                                    {{ annotation.Feature }}
                                    {% if annotation.CANONICAL == 'YES' %}
                                        *
                                    {% endif %}
                                    {% include 'variant_details.html' %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </span>
            {% endif %}
        </li>
    {% endfor %}
</ul>