<h4>{{ consequence|replace('_variant', '')|replace('_', ' ')|replace('utr', 'UTR')|replace('3 prime', "3'")|replace('5 prime', "5'")|replace('nc ', "non-coding ") }}</h4>
<ul class="list_of_genes_in_csq">
    {% for gene in consequences[consequence] %}
        <li>
            {% if gene %}
                <a class="gene-name" href="/gene/{{ gene }}">
                {% if consequences[consequence][gene][0].SYMBOL %}
                    {{ consequences[consequence][gene][0].SYMBOL }}
                {% else %}
                    {{ gene }}
                {% endif %}
                </a>
            {% endif %}
            {% if consequences[consequence][gene]|length == 1 %}
                {% with annotation = consequences[consequence][gene][0] %}
                    {% if gene %}-{% endif %}
                    {% if annotation.Feature[:4] == "ENST" %}
                        <a href="/transcript/{{ annotation.Feature }}">
                    {% else %}
                        <a href="http://useast.ensembl.org/Multi/Search/Results?q={{ annotation.Feature }}">
                    {% endif %}
                    {{ annotation.Feature }}
                    {% if annotation.CANONICAL == 'YES' %}
                        *
                    {% endif %}
                    </a>
                    {% include 'variant_details.html' %}
                {% endwith %}
            {% elif first_csq %}
                <ul class="list_of_transcripts_in_gene_csq">
                    {% for annotation in consequences[consequence][gene] %}
                        <li>
                            <a href="/transcript/{{ annotation.Feature }}">
                                {{ annotation.Feature }}
                                {% if annotation.CANONICAL == 'YES' %}
                                    *
                                {% endif %}
                            </a>
                            {% include 'variant_details.html' %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <span class="collapse-group">
                    <ul class="collapse list_of_transcripts_in_gene_csq">
                        {% for annotation in consequences[consequence][gene] %}
                            <li>
                                <a href="/transcript/{{ annotation.Feature }}">
                                    {{ annotation.Feature }}
                                    {% if annotation.CANONICAL == 'YES' %}
                                        *
                                    {% endif %}
                                    {% include 'variant_details.html' %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="btn btn-default transcript_toggle">
                        <span class="transcript-toggle-text">Show all <span class="caret"></span></span>
                        <span class="transcript-toggle-text hidden">Hide <span class="dropup"><span class="caret"></span></span></span>
                    </button>
                </span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
