<div class="panel-group" id="quality_metrics_accordion" role="tablist" aria-multiselectable="true">
  {# see http://getbootstrap.com/javascript/#collapse-example-accordion #}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="geno_quality_collapse_heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#quality_metrics_accordion" href="#geno_quality_collapse"
                   aria-expanded="true" aria-controls="geno_quality_collapse">
                    <small class="section_header">Genotype Quality Metrics</small>
                </a>
            </div>
        </div>
        <div id="geno_quality_collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="geno_quality_collapse_heading">
            <div id="quality_metrics_container">
                <div class="row">
                    <div class="col-xs-11 col-xs-offset-1">
                        <span class="btn-group" data-toggle="buttons" id="quality_full_site_button_group">
                            <button class="btn btn-primary btn-sm quality_full_site_buttons" id="variant_carriers_button"
                                    data-tooltip="Show metric for only individuals with this allele.">
                                <input type="radio"> Variant carriers
                            </button>
                            <button class="btn btn-primary btn-sm active quality_full_site_buttons" id="variant_site_button"
                                    data-tooltip="Show metric for all individuals (at this site, whether or not they have this allele).">
                                <input type="radio"> All individuals
                            </button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 col-xs-offset-1">
                        <div id="quality_display_container" class="d3_graph"></div>
                        <small><span class="label label-info">Note:</span> The plot may include low-quality genotypes that were excluded from this variant's allele count.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 col-xs-offset-1">
                        <span class="btn-group" data-toggle="buttons" id="quality_display_button_group" >
                            <button class="btn btn-primary btn-sm active quality_display_buttons" id="genotype_depths_button"
                                    data-tooltip="Per sample depth. Capped at 100X">
                                <input type="radio"> Sequence Depth
                            </button>
                            <button class="btn btn-primary btn-sm quality_display_buttons" id="genotype_qualities_button"
                                    data-tooltip="Per sample genotype quality.">
                                <input type="radio"> Genotype Quality
                            </button>
                        </span>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="site_quality_collapse_heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#quality_metrics_accordion" href="#site_quality_collapse"
                   aria-expanded="false" aria-controls="site_quality_collapse">
                    <small class="section_header">Site Quality Metrics</small>
                </a>
            </div>
        </div>
        <div id="site_quality_collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="site_quality_collapse_heading">
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    <select id="quality_metric_select" class="form-control">
                        <option><small>Site Quality: {{ variant.site_quality }}</small></option>
                        {% for metric in variant.quality_metrics %}
                            <option><small>{{ metric }}: {{ variant.quality_metrics[metric] }}</small></option>
                        {% endfor %}
                    </select>
                    <div id="quality_metric_container"></div>
                    <small><div id="site_quality_note"></div></small>
                    <small><span class="label label-info">Note:</span> These are site-level quality metrics: they may be unpredictable for multi-allelic sites.</small>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>