    {% if consequences %}
        <p>This variant falls on {{ variant.transcripts|length }} transcript{{ "s" if (variant.transcripts|length) != 1 else "" }}
          belonging to {{ variant.genes|length }} gene{{ "s" if (variant.genes|length) != 1 else "" }}:</p>
        <div class="panel-group" id="annotation_accordion" style="margin-bottom: 0px;">
            <div class="row">
            {% for consequence_column in consequences.keys()|slice(2) %}
              {% with first_csq_col = loop.first %}
                <div class="col-md-6">
                {% for consequence in consequence_column %}
                  {% with first_csq = loop.first and first_csq_col %}
                    {% include 'variant_consequence.html' %}
                  {% endwith %}
                {% endfor %}
                </div>
              {% endwith %}
            {% endfor %}
            </div>
        </div>
        <small><span class="label label-info">Note:</span> This list may not include additional transcripts in the same gene that the variant does not overlap.</small>
    {% else %}
        No annotations were found for this variant.
    {% endif %}
