{% extends "layout.html" %}

{% block title %}
<title>{{ config['BROWSER_NAME'] }} - {{ variant.variant_id }}</title>
{% endblock %}

{% block body %}
    <!-- Render context vars in JS here -->
    <script type="text/javascript">
      window.variant = {{ variant|tojson(separators=(',',':'))|safe }};
      window.base_coverage = {{ base_coverage|tojson(separators=(',',':'))|safe }};
      window.any_covered = {{ any_covered|tojson(separators=(',',':'))|safe }};
      window.consequence = {{ consequences|tojson(separators=(',',':'))|safe }};
      window.metrics = {{ metrics|tojson(separators=(',',':'))|safe }};
      window.dataset_name = "{{ config['DATASET_NAME'] }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='variant.js') }}"></script>
    <style>
    .d3_graph {
        font: 10px sans-serif;
    }
    .bar rect {
        fill: steelblue;
        shape-rendering: crispEdges;
    }
    .bar text {
        fill: #fff;
    }
    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .list_of_genes_in_csq, .list_of_transcripts_in_gene_csq {
        padding-left: 1.5em;
    }
    .annotation_csq {
        margin-bottom: 0;
    }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1><span class="hidden-xs">Variant: </span>{{ variant.chrom }}:{{ variant.pos }} {{ variant.ref }} / {{ variant.alt }}
                  {% if top_HGVSs %}
                    (<span class="gene-name">{{ gene_for_top_csq }}</span>:
                     {{ ', '.join(top_HGVSs) }})
                  {% endif %}
                </h1>
            </div>
            <div class="col-xs-12">
            {% if variant.orig_alt_alleles|length > 1 %}
                <h5><span class="label label-info">Note:</span> This variant is multiallelic! The other alt alleles are:</h5>
                <ul>
                    {% for allele in variant.orig_alt_alleles %}
                        {% if allele != variant.variant_id %}
                            <li>
                                <a href="/variant/{{ allele }}">{{ allele }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
        <hr/>

        {% if variant.variant_id %}
            {% if variant.allele_num < 0.8 * 2 * config['NUM_SAMPLES']  %}
                <p><span class="label label-warning">Warning!</span> This variant is only covered in {{ (variant.allele_num/2)|int }} individuals (adjusted allele number = {{ variant.allele_num }}).<br/>
                This means that the site is covered in fewer than 80% of the individuals in {{ config['DATASET_NAME'] }}, which may indicate a low-quality site.</p>
                <hr/>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="section_header">Variant Summary</div>
                    {% include 'variant_definition_list.html' %}

                    <div class="hidden-sm hidden-md hidden-lg">
                      <hr/>
                    </div>
                </div>

                {% if variant.pop_afs %}
                <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4">
                   <div class="row">
                      <div class="col-xs-11">
                         <div class="section_header">Frequency Table</div>
                         <table id="pop_afs_table">
                             <thead>
                                 <tr>
                                     <th>Population</th>
                                     <th>Allele Frequency</th>
                                 </tr>
                             </thead>
                             <tbody>
                                {% for pop in variant.pop_afs %}
                                   <tr>
                                       <td>{{ pop }}</td>
                                       <td>{{ '%0.4g' % variant.pop_afs[pop] }}</td>
                                   </tr>
                                {% endfor %}
                             </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                {% endif %}

            </div>
            <hr/>
        {% endif %}

        {% if variant.variant_id %}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="section_header">Annotations</div>
                {% include 'variant_consequences.html' %}

                <div class="hidden-sm hidden-md hidden-lg">
                  <hr/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4">
                {% include 'variant_quality_metrics.html' %}
            </div>
        </div>
        <hr/>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                {% if any_covered %}
                    <span class="section_header" style="margin-left:1em">Coverage</span>
                    {% if base_coverage|length > 1 %}
                        {% include 'coverage_selectors.html' %}
                    {% endif %}
                    <div id="region_coverage"></div>
                {% else %}
                    <h3>This region is not covered in the {{ config['DATASET_NAME'] }} dataset.</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
